<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMESimulationService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8090/MESimulationService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMESimulationService"
                contract="ServiceReference.IMESimulationService" name="BasicHttpBinding_IMESimulationService" />
        </client>
    </system.serviceModel>
</configuration>