USE [master]
GO
/****** Object:  Database [ManufacturingExecution]    Script Date: 16.09.2019 09:41:17 ******/
CREATE DATABASE [ManufacturingExecution]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ManufacturingExecution', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\ManufacturingExecution.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ManufacturingExecution_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\ManufacturingExecution_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ManufacturingExecution].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ManufacturingExecution]
GO
USE [ManufacturingExecution]
GO
/****** Object:  Table [dbo].[ME_ACTIVITY]    Script Date: 16.09.2019 09:41:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ME_ACTIVITY](
	[ID] [nvarchar](50) NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[PARAMETERS] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ME_BOM]    Script Date: 16.09.2019 09:41:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ME_BOM](
	[ID] [nvarchar](50) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](100) NULL,
	[STATUS] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ME_BOM_DETAILS]    Script Date: 16.09.2019 09:41:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ME_BOM_DETAILS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BOM] [nvarchar](50) NOT NULL,
	[SEQUENCE] [int] NOT NULL,
	[COMPONENT] [nvarchar](50) NOT NULL,
	[OPERATION] [nvarchar](50) NOT NULL,
	[ASSEMBLY_QUANTITY] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ME_BOM_STATUS]    Script Date: 16.09.2019 09:41:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ME_BOM_STATUS](
	[ID] [int] NOT NULL,
	[NAME] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ME_MATERIAL]    Script Date: 16.09.2019 09:41:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ME_MATERIAL](
	[ID] [nvarchar](50) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](100) NULL,
	[STATUS] [int] NOT NULL,
	[LOT_SIZE] [int] NOT NULL,
	[TYPE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ME_MATERIAL_STATUS]    Script Date: 16.09.2019 09:41:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ME_MATERIAL_STATUS](
	[ID] [int] NOT NULL,
	[STATUS] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ME_MATERIAL_TYPE]    Script Date: 16.09.2019 09:41:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ME_MATERIAL_TYPE](
	[ID] [int] NOT NULL,
	[TYPE] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ME_OPERATION]    Script Date: 16.09.2019 09:41:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ME_OPERATION](
	[ID] [nvarchar](50) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](100) NULL,
	[STATUS] [int] NOT NULL,
	[RESOURCE] [nvarchar](50) NOT NULL,
	[WORKCENTER] [nvarchar](50) NOT NULL,
	[ACTIVITY] [nvarchar](50) NULL,
	[RESOURCETYPE] [int] NOT NULL,
	[OPERATIONTYPE] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ME_OPERATION_STATUS]    Script Date: 16.09.2019 09:41:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ME_OPERATION_STATUS](
	[ID] [int] NOT NULL,
	[NAME] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ME_OPERATION_TYPE]    Script Date: 16.09.2019 09:41:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ME_OPERATION_TYPE](
	[ID] [nvarchar](50) NOT NULL,
	[TYPE] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ME_RESOURCE]    Script Date: 16.09.2019 09:41:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ME_RESOURCE](
	[ID] [nvarchar](50) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](100) NULL,
	[STATUS] [int] NOT NULL,
	[TYPE] [int] NOT NULL,
	[OPERATION] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ME_RESOURCE_MATERIAL]    Script Date: 16.09.2019 09:41:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ME_RESOURCE_MATERIAL](
	[RESOURCE] [nvarchar](50) NOT NULL,
	[MATERIAL] [nvarchar](50) NOT NULL,
	[QUANTITY] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ME_RESOURCE_STATUS]    Script Date: 16.09.2019 09:41:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ME_RESOURCE_STATUS](
	[ID] [int] NOT NULL,
	[NAME] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ME_RESOURCE_TYPE]    Script Date: 16.09.2019 09:41:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ME_RESOURCE_TYPE](
	[ID] [int] NOT NULL,
	[TYPE] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ME_ROUTING]    Script Date: 16.09.2019 09:41:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ME_ROUTING](
	[ID] [nvarchar](50) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](100) NULL,
	[TYPE] [int] NOT NULL,
	[STATUS] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ME_ROUTING_DETAILS]    Script Date: 16.09.2019 09:41:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ME_ROUTING_DETAILS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ROUTING] [nvarchar](50) NOT NULL,
	[SEQUENCE] [int] NULL,
	[OPERATION] [nvarchar](50) NULL,
	[CONDITION] [nvarchar](4000) NULL,
	[NEXT_OPERATION] [nvarchar](50) NULL,
	[NC_OPERATION] [nvarchar](50) NULL,
	[SEMANTIC_ANNOTATION] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ME_ROUTING_STATUS]    Script Date: 16.09.2019 09:41:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ME_ROUTING_STATUS](
	[ID] [int] NOT NULL,
	[NAME] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ME_ROUTING_TYPE]    Script Date: 16.09.2019 09:41:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ME_ROUTING_TYPE](
	[ID] [int] NOT NULL,
	[NAME] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ME_SEMANTIC_ANNOTATION]    Script Date: 16.09.2019 09:41:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ME_SEMANTIC_ANNOTATION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IRI] [nvarchar](500) NULL,
	[SHORT_NAME] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ME_SETPOINT]    Script Date: 16.09.2019 09:41:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ME_SETPOINT](
	[ID] [nvarchar](50) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](100) NOT NULL,
	[DATA_TYPE] [int] NOT NULL,
	[NUMERIC_VALUE] [int] NULL,
	[STRING_VALUE] [nvarchar](50) NULL,
	[STATUS] [int] NOT NULL,
	[START_DATE] [date] NOT NULL,
	[END_DATE] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ME_SETPOINT_DETAILS]    Script Date: 16.09.2019 09:41:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ME_SETPOINT_DETAILS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SETPOINT] [nvarchar](50) NOT NULL,
	[RESOURCE] [nvarchar](50) NOT NULL,
	[MATERIAL] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ME_SETPOINT_STATUS]    Script Date: 16.09.2019 09:41:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ME_SETPOINT_STATUS](
	[ID] [int] NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ME_SETPOINT_TYPE]    Script Date: 16.09.2019 09:41:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ME_SETPOINT_TYPE](
	[ID] [int] NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ME_SHOP_ORDER]    Script Date: 16.09.2019 09:41:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ME_SHOP_ORDER](
	[ID] [nvarchar](50) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](100) NULL,
	[STATUS] [int] NOT NULL,
	[TYPE] [int] NOT NULL,
	[PLANNED_MATERIAL] [nvarchar](50) NOT NULL,
	[BOM] [nvarchar](50) NOT NULL,
	[ROUTING] [nvarchar](50) NOT NULL,
	[BUILD_QUANTITY] [int] NOT NULL,
	[CUSTOMER_ORDER] [nvarchar](50) NOT NULL,
	[PLANNED_START] [date] NOT NULL,
	[PLANNED_COMPLETION] [date] NOT NULL,
	[PRIORITY] [int] NOT NULL,
	[RELEASE_QUANTITY] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ME_SHOP_ORDER_STATUS]    Script Date: 16.09.2019 09:41:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ME_SHOP_ORDER_STATUS](
	[ID] [int] NOT NULL,
	[NAME] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ME_SHOP_ORDER_TYPE]    Script Date: 16.09.2019 09:41:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ME_SHOP_ORDER_TYPE](
	[ID] [int] NOT NULL,
	[NAME] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ME_WORKCENTER]    Script Date: 16.09.2019 09:41:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ME_WORKCENTER](
	[ID] [nvarchar](50) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](100) NULL,
	[STATUS] [int] NOT NULL,
	[CATEGORY] [int] NOT NULL,
	[TYPE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ME_WORKCENTER_CATEGORY]    Script Date: 16.09.2019 09:41:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ME_WORKCENTER_CATEGORY](
	[ID] [int] NOT NULL,
	[NAME] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ME_WORKCENTER_RESOURCE]    Script Date: 16.09.2019 09:41:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ME_WORKCENTER_RESOURCE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[WORKCENTER_ID] [nvarchar](50) NOT NULL,
	[RESOURCE_ID] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ME_WORKCENTER_STATUS]    Script Date: 16.09.2019 09:41:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ME_WORKCENTER_STATUS](
	[ID] [int] NOT NULL,
	[NAME] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ME_WORKCENTER_TYPE]    Script Date: 16.09.2019 09:41:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ME_WORKCENTER_TYPE](
	[ID] [int] NOT NULL,
	[NAME] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[ME_BOM]  WITH CHECK ADD  CONSTRAINT [fk_bom_status] FOREIGN KEY([STATUS])
REFERENCES [dbo].[ME_BOM_STATUS] ([ID])
GO
ALTER TABLE [dbo].[ME_BOM] CHECK CONSTRAINT [fk_bom_status]
GO
ALTER TABLE [dbo].[ME_BOM_DETAILS]  WITH CHECK ADD  CONSTRAINT [fk_bom_id] FOREIGN KEY([BOM])
REFERENCES [dbo].[ME_BOM] ([ID])
GO
ALTER TABLE [dbo].[ME_BOM_DETAILS] CHECK CONSTRAINT [fk_bom_id]
GO
ALTER TABLE [dbo].[ME_BOM_DETAILS]  WITH CHECK ADD  CONSTRAINT [fk_bom_material] FOREIGN KEY([COMPONENT])
REFERENCES [dbo].[ME_MATERIAL] ([ID])
GO
ALTER TABLE [dbo].[ME_BOM_DETAILS] CHECK CONSTRAINT [fk_bom_material]
GO
ALTER TABLE [dbo].[ME_BOM_DETAILS]  WITH CHECK ADD  CONSTRAINT [fk_bom_operation] FOREIGN KEY([OPERATION])
REFERENCES [dbo].[ME_OPERATION] ([ID])
GO
ALTER TABLE [dbo].[ME_BOM_DETAILS] CHECK CONSTRAINT [fk_bom_operation]
GO
ALTER TABLE [dbo].[ME_MATERIAL]  WITH CHECK ADD  CONSTRAINT [fk_material_status] FOREIGN KEY([STATUS])
REFERENCES [dbo].[ME_MATERIAL_STATUS] ([ID])
GO
ALTER TABLE [dbo].[ME_MATERIAL] CHECK CONSTRAINT [fk_material_status]
GO
ALTER TABLE [dbo].[ME_MATERIAL]  WITH CHECK ADD  CONSTRAINT [fk_material_type] FOREIGN KEY([TYPE])
REFERENCES [dbo].[ME_MATERIAL_TYPE] ([ID])
GO
ALTER TABLE [dbo].[ME_MATERIAL] CHECK CONSTRAINT [fk_material_type]
GO
ALTER TABLE [dbo].[ME_OPERATION]  WITH CHECK ADD  CONSTRAINT [fk_operation_activity] FOREIGN KEY([ACTIVITY])
REFERENCES [dbo].[ME_ACTIVITY] ([ID])
GO
ALTER TABLE [dbo].[ME_OPERATION] CHECK CONSTRAINT [fk_operation_activity]
GO
ALTER TABLE [dbo].[ME_OPERATION]  WITH CHECK ADD  CONSTRAINT [fk_OPERATION_OPERATIONTYPE] FOREIGN KEY([OPERATIONTYPE])
REFERENCES [dbo].[ME_OPERATION_TYPE] ([ID])
GO
ALTER TABLE [dbo].[ME_OPERATION] CHECK CONSTRAINT [fk_OPERATION_OPERATIONTYPE]
GO
ALTER TABLE [dbo].[ME_OPERATION]  WITH CHECK ADD  CONSTRAINT [fk_operation_resource] FOREIGN KEY([RESOURCE])
REFERENCES [dbo].[ME_RESOURCE] ([ID])
GO
ALTER TABLE [dbo].[ME_OPERATION] CHECK CONSTRAINT [fk_operation_resource]
GO
ALTER TABLE [dbo].[ME_OPERATION]  WITH CHECK ADD  CONSTRAINT [fk_operation_resourcetype] FOREIGN KEY([RESOURCETYPE])
REFERENCES [dbo].[ME_RESOURCE_TYPE] ([ID])
GO
ALTER TABLE [dbo].[ME_OPERATION] CHECK CONSTRAINT [fk_operation_resourcetype]
GO
ALTER TABLE [dbo].[ME_OPERATION]  WITH CHECK ADD  CONSTRAINT [fk_operation_status] FOREIGN KEY([STATUS])
REFERENCES [dbo].[ME_OPERATION_STATUS] ([ID])
GO
ALTER TABLE [dbo].[ME_OPERATION] CHECK CONSTRAINT [fk_operation_status]
GO
ALTER TABLE [dbo].[ME_OPERATION]  WITH CHECK ADD  CONSTRAINT [fk_operation_workcenter] FOREIGN KEY([WORKCENTER])
REFERENCES [dbo].[ME_WORKCENTER] ([ID])
GO
ALTER TABLE [dbo].[ME_OPERATION] CHECK CONSTRAINT [fk_operation_workcenter]
GO
ALTER TABLE [dbo].[ME_RESOURCE]  WITH CHECK ADD  CONSTRAINT [fk_RESOURCE_Status] FOREIGN KEY([STATUS])
REFERENCES [dbo].[ME_RESOURCE_STATUS] ([ID])
GO
ALTER TABLE [dbo].[ME_RESOURCE] CHECK CONSTRAINT [fk_RESOURCE_Status]
GO
ALTER TABLE [dbo].[ME_RESOURCE]  WITH CHECK ADD  CONSTRAINT [fk_RESOURCE_type] FOREIGN KEY([TYPE])
REFERENCES [dbo].[ME_RESOURCE_TYPE] ([ID])
GO
ALTER TABLE [dbo].[ME_RESOURCE] CHECK CONSTRAINT [fk_RESOURCE_type]
GO
ALTER TABLE [dbo].[ME_RESOURCE_MATERIAL]  WITH CHECK ADD  CONSTRAINT [fk_RESOURCE_ID] FOREIGN KEY([RESOURCE])
REFERENCES [dbo].[ME_RESOURCE] ([ID])
GO
ALTER TABLE [dbo].[ME_RESOURCE_MATERIAL] CHECK CONSTRAINT [fk_RESOURCE_ID]
GO
ALTER TABLE [dbo].[ME_RESOURCE_MATERIAL]  WITH CHECK ADD  CONSTRAINT [fk_RESOURCE_MATERIAL] FOREIGN KEY([MATERIAL])
REFERENCES [dbo].[ME_MATERIAL] ([ID])
GO
ALTER TABLE [dbo].[ME_RESOURCE_MATERIAL] CHECK CONSTRAINT [fk_RESOURCE_MATERIAL]
GO
ALTER TABLE [dbo].[ME_ROUTING]  WITH CHECK ADD  CONSTRAINT [fk_ROUTING_status] FOREIGN KEY([STATUS])
REFERENCES [dbo].[ME_ROUTING_STATUS] ([ID])
GO
ALTER TABLE [dbo].[ME_ROUTING] CHECK CONSTRAINT [fk_ROUTING_status]
GO
ALTER TABLE [dbo].[ME_ROUTING]  WITH CHECK ADD  CONSTRAINT [fk_ROUTING_type] FOREIGN KEY([TYPE])
REFERENCES [dbo].[ME_ROUTING_TYPE] ([ID])
GO
ALTER TABLE [dbo].[ME_ROUTING] CHECK CONSTRAINT [fk_ROUTING_type]
GO
ALTER TABLE [dbo].[ME_ROUTING_DETAILS]  WITH CHECK ADD  CONSTRAINT [fk_ROUTING_failoperation] FOREIGN KEY([NC_OPERATION])
REFERENCES [dbo].[ME_OPERATION] ([ID])
GO
ALTER TABLE [dbo].[ME_ROUTING_DETAILS] CHECK CONSTRAINT [fk_ROUTING_failoperation]
GO
ALTER TABLE [dbo].[ME_ROUTING_DETAILS]  WITH CHECK ADD  CONSTRAINT [fk_ROUTING_ID] FOREIGN KEY([ROUTING])
REFERENCES [dbo].[ME_ROUTING] ([ID])
GO
ALTER TABLE [dbo].[ME_ROUTING_DETAILS] CHECK CONSTRAINT [fk_ROUTING_ID]
GO
ALTER TABLE [dbo].[ME_ROUTING_DETAILS]  WITH CHECK ADD  CONSTRAINT [fk_ROUTING_operation] FOREIGN KEY([OPERATION])
REFERENCES [dbo].[ME_OPERATION] ([ID])
GO
ALTER TABLE [dbo].[ME_ROUTING_DETAILS] CHECK CONSTRAINT [fk_ROUTING_operation]
GO
ALTER TABLE [dbo].[ME_ROUTING_DETAILS]  WITH CHECK ADD  CONSTRAINT [fk_ROUTING_operationType] FOREIGN KEY([NEXT_OPERATION])
REFERENCES [dbo].[ME_OPERATION_TYPE] ([ID])
GO
ALTER TABLE [dbo].[ME_ROUTING_DETAILS] CHECK CONSTRAINT [fk_ROUTING_operationType]
GO
ALTER TABLE [dbo].[ME_ROUTING_DETAILS]  WITH CHECK ADD  CONSTRAINT [fk_ROUTING_SEMANTIC_ANNOTATION] FOREIGN KEY([SEMANTIC_ANNOTATION])
REFERENCES [dbo].[ME_SEMANTIC_ANNOTATION] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ME_ROUTING_DETAILS] CHECK CONSTRAINT [fk_ROUTING_SEMANTIC_ANNOTATION]
GO
ALTER TABLE [dbo].[ME_SETPOINT]  WITH CHECK ADD  CONSTRAINT [fk_SETPOINT_STATUS] FOREIGN KEY([STATUS])
REFERENCES [dbo].[ME_SETPOINT_STATUS] ([ID])
GO
ALTER TABLE [dbo].[ME_SETPOINT] CHECK CONSTRAINT [fk_SETPOINT_STATUS]
GO
ALTER TABLE [dbo].[ME_SETPOINT]  WITH CHECK ADD  CONSTRAINT [fk_SETPOINT_TYPE] FOREIGN KEY([DATA_TYPE])
REFERENCES [dbo].[ME_SETPOINT_TYPE] ([ID])
GO
ALTER TABLE [dbo].[ME_SETPOINT] CHECK CONSTRAINT [fk_SETPOINT_TYPE]
GO
ALTER TABLE [dbo].[ME_SETPOINT_DETAILS]  WITH CHECK ADD  CONSTRAINT [fk_SETPOINTDETAILS_MATERIAL] FOREIGN KEY([MATERIAL])
REFERENCES [dbo].[ME_MATERIAL] ([ID])
GO
ALTER TABLE [dbo].[ME_SETPOINT_DETAILS] CHECK CONSTRAINT [fk_SETPOINTDETAILS_MATERIAL]
GO
ALTER TABLE [dbo].[ME_SETPOINT_DETAILS]  WITH CHECK ADD  CONSTRAINT [fk_SETPOINTDETAILS_RESOURCE] FOREIGN KEY([RESOURCE])
REFERENCES [dbo].[ME_RESOURCE] ([ID])
GO
ALTER TABLE [dbo].[ME_SETPOINT_DETAILS] CHECK CONSTRAINT [fk_SETPOINTDETAILS_RESOURCE]
GO
ALTER TABLE [dbo].[ME_SETPOINT_DETAILS]  WITH CHECK ADD  CONSTRAINT [fk_SETPOINTDETAILS_SETPOINT] FOREIGN KEY([SETPOINT])
REFERENCES [dbo].[ME_SETPOINT] ([ID])
GO
ALTER TABLE [dbo].[ME_SETPOINT_DETAILS] CHECK CONSTRAINT [fk_SETPOINTDETAILS_SETPOINT]
GO
ALTER TABLE [dbo].[ME_SHOP_ORDER]  WITH CHECK ADD  CONSTRAINT [fk_SHOPORDER_BOM] FOREIGN KEY([BOM])
REFERENCES [dbo].[ME_BOM] ([ID])
GO
ALTER TABLE [dbo].[ME_SHOP_ORDER] CHECK CONSTRAINT [fk_SHOPORDER_BOM]
GO
ALTER TABLE [dbo].[ME_SHOP_ORDER]  WITH CHECK ADD  CONSTRAINT [fk_SHOPORDER_ORDER_TYPE] FOREIGN KEY([TYPE])
REFERENCES [dbo].[ME_SHOP_ORDER_TYPE] ([ID])
GO
ALTER TABLE [dbo].[ME_SHOP_ORDER] CHECK CONSTRAINT [fk_SHOPORDER_ORDER_TYPE]
GO
ALTER TABLE [dbo].[ME_SHOP_ORDER]  WITH CHECK ADD  CONSTRAINT [fk_SHOPORDER_PLANNED_MATERIAL] FOREIGN KEY([PLANNED_MATERIAL])
REFERENCES [dbo].[ME_MATERIAL] ([ID])
GO
ALTER TABLE [dbo].[ME_SHOP_ORDER] CHECK CONSTRAINT [fk_SHOPORDER_PLANNED_MATERIAL]
GO
ALTER TABLE [dbo].[ME_SHOP_ORDER]  WITH CHECK ADD  CONSTRAINT [fk_SHOPORDER_ROUTING] FOREIGN KEY([ROUTING])
REFERENCES [dbo].[ME_ROUTING] ([ID])
GO
ALTER TABLE [dbo].[ME_SHOP_ORDER] CHECK CONSTRAINT [fk_SHOPORDER_ROUTING]
GO
ALTER TABLE [dbo].[ME_SHOP_ORDER]  WITH CHECK ADD  CONSTRAINT [fk_SHOPORDER_STATUS] FOREIGN KEY([STATUS])
REFERENCES [dbo].[ME_SHOP_ORDER_STATUS] ([ID])
GO
ALTER TABLE [dbo].[ME_SHOP_ORDER] CHECK CONSTRAINT [fk_SHOPORDER_STATUS]
GO
ALTER TABLE [dbo].[ME_WORKCENTER]  WITH CHECK ADD  CONSTRAINT [fk_WORKCENTER_category] FOREIGN KEY([CATEGORY])
REFERENCES [dbo].[ME_WORKCENTER_CATEGORY] ([ID])
GO
ALTER TABLE [dbo].[ME_WORKCENTER] CHECK CONSTRAINT [fk_WORKCENTER_category]
GO
ALTER TABLE [dbo].[ME_WORKCENTER]  WITH CHECK ADD  CONSTRAINT [fk_WORKCENTER_status] FOREIGN KEY([STATUS])
REFERENCES [dbo].[ME_WORKCENTER_STATUS] ([ID])
GO
ALTER TABLE [dbo].[ME_WORKCENTER] CHECK CONSTRAINT [fk_WORKCENTER_status]
GO
ALTER TABLE [dbo].[ME_WORKCENTER]  WITH CHECK ADD  CONSTRAINT [fk_WORKCENTER_type] FOREIGN KEY([TYPE])
REFERENCES [dbo].[ME_WORKCENTER_TYPE] ([ID])
GO
ALTER TABLE [dbo].[ME_WORKCENTER] CHECK CONSTRAINT [fk_WORKCENTER_type]
GO
ALTER TABLE [dbo].[ME_WORKCENTER_RESOURCE]  WITH CHECK ADD  CONSTRAINT [fk_WORKCENTER_RESOURCE1] FOREIGN KEY([WORKCENTER_ID])
REFERENCES [dbo].[ME_WORKCENTER] ([ID])
GO
ALTER TABLE [dbo].[ME_WORKCENTER_RESOURCE] CHECK CONSTRAINT [fk_WORKCENTER_RESOURCE1]
GO
ALTER TABLE [dbo].[ME_WORKCENTER_RESOURCE]  WITH CHECK ADD  CONSTRAINT [fk_WORKCENTER_RESOURCE2] FOREIGN KEY([RESOURCE_ID])
REFERENCES [dbo].[ME_RESOURCE] ([ID])
GO
ALTER TABLE [dbo].[ME_WORKCENTER_RESOURCE] CHECK CONSTRAINT [fk_WORKCENTER_RESOURCE2]
GO
USE [master]
GO
